@page "/countries/create"
@inject IRepository _repository
@inject NavigationManager _navigation
@inject SweetAlertService _sweetAlert

<h3>Crear Pais</h3>

<CountryForm @ref="countryForm" Country="Country" OnValidSubmit="Create" ReturnAction="Return"/>

@code {
    private Country Country = new();
    private CountryForm? countryForm;

    private async Task Create()
    {
        var httpResponse = await _repository.Post("/api/countries", Country);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await _sweetAlert.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        countryForm!.FormPostedSuccessfully = true;
        _navigation.NavigateTo("/countries");
    }

    private void Return()
    {
        countryForm!.FormPostedSuccessfully = true;
        _navigation.NavigateTo("/countries");
    }
}

